@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+VIC+WA+NT+Beginner&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family:"Mulish",sans-serif; */
}
.outerDiv{
    width: 100vw;
    height: 100vh;
    background-color:black;
    display: grid;
    place-items: center;

}

.innerDiv{
    width: 80vw;
    height: 70vh;
    display: grid;
    place-items: center;

}
.main-heading{
    padding: 30px;
    color: white;
    font-size: 190px;
    text-shadow: 0 1px 8px rgba(255,255,255,0.5);
}
